---
http_interactions:
- request:
    method: get
    uri: https://od-api.oxforddictionaries.com/api/v1/inflections/en/fox
    body:
      encoding: US-ASCII
      string: ''
    headers:
      App-Id:
      - aec7fd15
      App-Key:
      - 32b097312453f54f4de69b9d8c63f47e
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Version:
      - v3.6.1-32-gd5e2d53
    body:
      encoding: UTF-8
      string: |-
        {
            "metadata": {
                "provider": "Oxford University Press"
            },
            "results": [
                {
                    "id": "fox",
                    "language": "en",
                    "lexicalEntries": [
                        {
                            "grammaticalFeatures": [
                                {
                                    "text": "Plural",
                                    "type": "Number"
                                },
                                {
                                    "text": "Singular",
                                    "type": "Number"
                                }
                            ],
                            "inflectionOf": [
                                {
                                    "id": "fox",
                                    "text": "Fox"
                                },
                                {
                                    "id": "fox",
                                    "text": "fox"
                                }
                            ],
                            "language": "en",
                            "lexicalCategory": "Noun",
                            "text": "Fox"
                        },
                        {
                            "grammaticalFeatures": [
                                {
                                    "text": "Positive",
                                    "type": "Degree"
                                }
                            ],
                            "inflectionOf": [
                                {
                                    "id": "fox",
      [...]
